# Compiled python modules.
*.pyc
# Temp files
*~
# Build directory
dist
# egg
LiquidDiffract.egg-info
# Local files
.directory
# Refinement logs generated during tests
LiquidDiffract/scripts/refinement.log
